// Custom.scss
// Option A: Include all of Bootstrap
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");
// Include any default variable overrides here (though functions won't be available)
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

// body bg color
$body-bg: #ffffff;


// Theme colors
// https://getbootstrap.com/docs/5.3/customize/color/#theme-colors
$primary: #7B8DD5;
$secondary: #D79499;
$success: #C9CFE4;
// $info: #c4ffb2;
// $warning: #d6f7a3;
// $danger: #dd7596;
$light: #ffffff;
$dark: #3d3d3d;


// Changing navbar
$navbar-light-color: #ffffff;
$navbar-light-hover-color: #f2f2f2f2;
$navbar-light-active-color: #ffffff;


// Typography
$font-family-sans-serif: "Inria Sans", sans-serif;
$headings-font-family: "Inria Sans", sans-serif;


$h1-font-size: 1rem * 8;
$h2-font-size: 1rem * 2;
$h3-font-size: 1rem * 1.75;


$line-height-base: 1.6;


@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here

// $btn-primary-color: #fff;
// $btn-secondary-color: #fff;

#hero {
    position: relative;
    background-image: url(../images/txt-banner-pre-order-landscape.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #999;
}

#hero .d-flex {
    height: 70vh;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px); 
    z-index: 1;
  }

.hero-content {
    position: relative;
    z-index: 2;
}

.carousel-item {
    padding: 20px;
  }
  
.card {
    margin-bottom: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 50%; /* Vertically center */
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: -0.25%;
}

.carousel-control-next {
    right: -0.25%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none; /* Remove the default icon */
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    content: '‹'; /* Use a black arrow character for previous */
    color: black; /* Set color to black */
    font-size: 3rem; /* Adjust the size */
}

.carousel-control-next-icon::after {
    content: '›'; /* Use a black arrow character for next */
}

.icon-white {
    filter: brightness(0) invert(1);
}

/* Adjust for mobile */
@media (max-width: 982px) {
    .carousel-control-prev,
    .carousel-control-next {
        top: auto; /* Reset vertical centering */
        bottom: -0.1rem; /* Place below the product cards */
        transform: none; /* No transform needed */
    }

    .carousel-control-prev {
        left: 40%; /* Adjust left arrow spacing */
    }

    .carousel-control-next {
        right: 40%; /* Adjust right arrow spacing */
    }
}